@font-face {
  font-family: "cat";
  src: url("../fonts/cat.woff2") format("woff2");
}

html {
  --uno: select-none overscroll-none font-[cat] antialiased;

  color-scheme: light;

  &.dark {
    color-scheme: dark;
  }
}

img {
  -webkit-user-drag: none;
}
